* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:slategrey;
}
.calculator {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 25px;
    background-color: black;
    border-radius: 30px;
    border: rgb(55, 55, 55) 10px solid;
}

.display {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 5px 15px;
    color: whitesmoke;
    background-color: rgba(35,35,35,0.4);
    border-radius: 20px;
}

.display-history {
    font-size: 22px;
    margin-right: 10px;
}

.display-text {
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-shrink: 1;
}

.row {
    display: flex;
    gap: 11px;
    justify-content: space-between;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 11px;
}
button {
    align-items: stretch;
    height: 70px;
    width: 70px;
    border-radius: 0;
    font-size: 25px;
    border-radius: 40px;
    box-shadow: 2px 2px 8px 2px rgba(85,85,85,0.4);
    background-color: rgb(15, 15, 15);
    color: whitesmoke;
    border: solid 1px black;
}

.dbl-btn {
    width: 168px;
}

.operator-btn {
    background-color: rgb(55, 55, 55);
}